*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  background-color:rgb(30,28,101);
}
.header img{
  display: block;
  margin: 0 auto;
  padding: 1rem 0.5rem;
  width: 60%;
  height: auto;
}
h1{
  text-align: center;
}

h3{
  text-transform: capitalize;
  text-align: center;
 }

.form-control{
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border:none;
  width: 100%;
}
.semCgpa{
  display: none;
}

.btn{
  margin: 2rem auto; 
  width: 15rem;
}

.form{
  border: 0.02rem solid rgb(20, 19, 19);
  border-radius: 2rem;
  padding: 2rem;
  width: 40%;
  margin: 2rem auto;
  overflow: hidden;
}


td{
  text-align: left;
  padding: 8px;
  }
.table{
  margin-top: 3rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}
.pagination{
  margin-left: 2rem;
}
.btn{
  margin: 0;
}

.btn-logout{
  margin-right:10rem;
}
.btn-generate{
  margin-right:10rem;
}
.alert{
  display: none;
}

#fullname{
  text-transform: uppercase;
}

#CAP-USN{
  text-transform: uppercase;
}

#Login-btn{
  width: 100%;
}
/* Media-queries */

@media only screen and (max-width: 600px) {
  .form{
   width: 100%;
  }
  .header img{
    width: 100%;
  }
}
